button.btn.btn-link.no-underline{
    color: #CC00CC;
    text-decoration: none;
}

.btn-var {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 35px;
    background-color: #351C75;
    color: white;
    border-radius: 6px;
    border: none;
}

.btn-var-questions {
    display: block;
    width: fit-content;
    min-width: 185px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    height: 35px;
    background-color: #351C75;
    color: white;
    border-radius: 6px;
    border: none;
}
.btn-var-submit {
    width: fit-content;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    margin-top: 5px;
    height: 35px;
    background-color: #351C75;
    color: white;
    border-radius: 6px;
    border: none;
}

.btn-var:hover {
    background-color: #BD60E7;
}

.btn-var-questions:hover {
    background-color: #BD60E7;
}

.solution {
    color: #949494;
    font-style: italic;
}
.display-score
{
    background-color: #D9D3E9;
    padding-left: 10px
}
.btn-var-display
{
    display: inline-block;
    width: fit-content;
    margin-right: 10px;
    min-width: 185px;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    height: 35px;
    background-color: #351C75;
    color: white;
    border-radius: 6px;
    border: none;
}